<!-- 本项目采用Google 开源项目代码规范 -->
<!-- footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.duitang.com/blogs/tag/?name=%E5%B0%8F%E7%86%8A%E7%8C%AB">
                <i class="icon ion-social-instagram"></i>
            </a>
            <a href="https://github.com/vonynu">
                <i class="icon ion-social-github"></i>
            </a>
            <a href="http://www.ise.ynu.edu.cn/">
                <i class="icon ion-university"></i>
            </a>

        </div>
        <p class="copyright">vonYnu © 2021</p>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>